﻿.menu-text {
    /* margin-bottom: 4em; */
    /* position: relative; */
}

.menu-text-left {
    float: left;
    width: 47%;
    text-align: left;
    margin-left: 4em;
}

.menu-text-midle {
    float: left;
    width: 20%;
    position: relative;
    height: 19px;
}

    .menu-text-midle span.line {
        position: absolute;
        top: 67%;
        left: 0%;
        width: 100%;
        height: 1px;
        background: #999;
        content: '';
        opacity: 1;
    }

.menu-text-right {
    float: right;
    width: 18%;
}

#myList li {
    display: none;
    list-style-type: none;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.menu-list {
    list-style: none;
}

.menu-heading {
    position: relative;
    left: 35%;
}

li {
    pointer-events: visible;
    cursor: pointer;
}

.selected-item {
    background: deepskyblue;
    border-radius: 5px;
}

    .selected-item h4 {
        color: white;
    }

    .selected-item .line {
        background-color: white;
    }

    .btn.disabled{
        pointer-events:none;
    }

    .menu-list li{
            margin-top: 1%;
    }