﻿<div class="row">
    <h1 class="menu-heading">Your Order Summary</h1>

    <h3>Base</h3>
    <ul class="list-group">
        <li class="list-group-item">
            <strong class="pull-right">&#8377;{{SelectedBase.price}}</strong>
            {{SelectedBase.name}}
        </li>
    </ul>
    <h3>Toppings</h3>
    <ul class="list-group">
        <li ng-repeat="t in SelectedToppings" class="list-group-item">
            <strong class="pull-right">&#8377;{{t.price}}</strong>
            {{t.name}}
        </li>
    </ul>
    <h3>Veggies</h3>
    <ul class="list-group">
        <li ng-repeat="v in SelectedVeggies" class="list-group-item">
            <strong class="pull-right">&#8377;{{v.price}}</strong>
            {{v.name}}
        </li>
    </ul>
    <h3>Cheese</h3>
    <ul class="list-group">
        <li class="list-group-item">
            <strong class="pull-right">&#8377;{{SelectedCheese.price}}</strong>
            {{SelectedCheese.name}}
        </li>
    </ul>
    <h3>Sauces</h3>
    <ul class="list-group">
        <li ng-repeat="s in SelectedSauces" class="list-group-item">
            <strong class="pull-right">&#8377;{{s.price}}</strong>
            {{s.name}}
        </li>
    </ul>

    <div ng-show="SelectedSides.length">
        <h3>Sides and Desert</h3>
        <ul class="list-group">
            <li ng-repeat="s in SelectedSides" class="list-group-item">
                <strong class="pull-right">&#8377;{{s.price}}</strong>
                {{s.name}}
            </li>
        </ul>
    </div>
    <div ng-show="SelectedExtras.length">
        <h3>Extras</h3>
        <ul class="list-group">
            <li ng-repeat="e in SelectedExtras" class="list-group-item">
                <strong class="pull-right">&#8377;{{e.price}}</strong>
                {{e.name}}
            </li>
        </ul>
    </div>
    <div class="row">
        <h3 class="pull-left">Total</h3><h3 class="pull-right">&#8377;{{Total}}</h3>
    </div>
</div>
<div class="row">
    <input type="button" class="btn btn-warning pull-left " value="Add to Cart" ng-click="prevState()" />
    <input type="button" class="btn btn-primary pull-right" value="Checkout" ng-click="nextState()" />
</div>
