﻿<div class="row">
    <div class="col-md-12">
        <span class="pull-right">Total: &#8377;{{Total}}</span>
        <h1 class="menu-heading">Select Extras</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <ul class="menu-list">
            <li ng-repeat="e in Extras" data-id="{{e.id}}" data-price="{{e.price}}" data-name="{{e.name}}" ng-click="selectExtras($event)">
                <div class="menu-text">
                    <div class="menu-text-left">
                        <h4>{{e.name}}</h4>
                    </div>
                    <div class="menu-text-midle">
                        <span class="line"> </span>
                    </div>
                    <div class="menu-text-right">
                        <h4>{{e.price}}</h4>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="row">
    <input type="button" class="btn btn-warning pull-left" value="Back" ng-click="prevState()" />
    <input type="button" class="btn btn-primary pull-right" value="Next" ng-click="nextState()" />
</div>
