﻿<div class="row">
    <div class="col-md-12">
        <span class="pull-right">Total: &#8377;{{Total}}</span>
        <h1 class="menu-heading">Select Toppings</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <ul class="menu-list">
            <li ng-repeat="t in Toppings" data-id="{{t.id}}" data-price="{{t.price}}" data-name="{{t.name}}" ng-click="selectToppings($event)">
                <div class="menu-text">
                    <div class="menu-text-left">
                        <h4>{{t.name}}</h4>
                    </div>
                    <div class="menu-text-midle">
                        <span class="line"> </span>
                    </div>
                    <div class="menu-text-right">
                        <h4>{{t.price}}</h4>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="row">
    <input type="button" class="btn btn-warning pull-left" value="Back" ng-click="prevState()" />
    <input type="button" class="btn btn-primary pull-right disabled" value="Next" ng-click="nextState()" />
</div>
